.check-3{
    width: 3%;
}

.row{
    --bs-gutter-x: 0px;
}

.fs-8{
    font-size: small;
}
.fs-xs{
    font-size: x-small;
}

.quantity-input{
    flex: none !important;
    width: 20% !important;
}

.border-left{
    border: var(--bs-border-width);
    border-style: solid;
    border-color: var(--bs-border-color);
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
}

.link{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}