.product-card{
    transition: all 400ms;
    cursor: pointer;
}
.product-card:hover{
    scale: 1.05;
}

.img{
    width: inherit;
    border-radius: inherit;
}

.img-back{
    aspect-ratio: 1;
}

.fs-8{
    font-size: x-small;
}
.fs-7{
    font-size: small;
}

.rating-width{
    width: 60%;
}