.border-s {
    border-width: 1px;
    border-style: solid;
    border-color: grey;

    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
}

.paddingtop {
    padding-top: 68px !important;
}