:root {
  --primary-blue: #1888ff;
  --dark: #1c1c1c;
  --light: #cecccc;
  --radius: 11px;
}

.px-2_5 {
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.navbar {
  position: fixed;
  background: linear-gradient(90deg, rgb(214, 212, 212) 0%, rgb(177, 175, 175) 100%);
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.0rem;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbar-brand {
  justify-self: start;
  margin-left: 30px;
  margin-top: -5px;
  cursor: pointer;
}

.navbar-nav {
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
  margin-right: 2rem;
}

.nav-link {
  font-size: larger;
}

.nav-item.active {
  font-weight: normal;
  color: var(--light);
}

.nav-item.active:hover {
  font-weight: normal;
  color: var(--light) !important;
}

.nav-item {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 0.1rem 1rem;

}

.nav-link {
  border-radius: 5px;
}

.nav-link:hover {
  background-color: var(--dark);
  color: var(--light);
  border-radius: var(--radius);
  transition: all 0.1s ease-out;
}

.nav-link::after {
  background-color: var(--dark);
  color: var(--light);
  border-radius: var(--radius);
}

.dropdown-item:hover {
  background-color: var(--dark);
  color: var(--light);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--light);
  background-color: var(--dark);
  border-radius: var(--radius);
}


@media screen and (max-width: 1000px) {
  .px-2_5 {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
    }
  .navbar-nav .nav-link.show {
    color: var(--light);
  }

  .nav-link:hover {
    background-color: var(--dark);
    color: var(--light);
    border-radius: var(--radius);
    transition: all 0.1s ease-out;
  }

  .nav-link::after {
    background-color: var(--dark);
    color: var(--light);
    border-radius: var(--radius);
  }

  .nav-link:active {
    background-color: var(--dark);
    color: var(--light);
    border-radius: var(--radius);
  }

  .navbar-nav {
    display: inherit;
    position: absolute;
    top: 60px;
    background-color: rgb(185, 183, 183);
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    list-style: none;
    text-align: center;
    justify-content: end;
    opacity: 1;
    margin-right: 5rem;
    margin-left: -1rem;
    transition: all 0.3s ease-in-out;
  }

  .nav-item {
    text-align: center;
    font-weight: bold;
    padding: 0.3rem;
    width: 100%;
    display: table;
  }

  .dropdown-item:hover {
    background-color: var(--primary-blue);
    font-weight: bold;
  }

}